# Configuração do Banco de Dados
DB_PORT=3306
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=sua_senha_aqui
DB_DATABASE=railway

# Variáveis do Railway (usadas automaticamente)
MYSQLHOST=localhost
MYSQLPORT=3306
MYSQLUSER=root
MYSQLPASSWORD=sua_senha_aqui
MYSQLDATABASE=railway

# Token de Acesso (opcional)
ACCESS_TOKEN_SECRET=super-secret
